// Colors
$black:         #000000;
$dodger-blue:   #3483FA;
$dusty-gray:    #999999;
$gallery:       #EEEEEE;
$mercury:       #E6E6E6;
$mine-shaft:    #333333;
$science-blue:  #005AE0;
$turbo:         #FFE600;
$white:         #FFFFFF;
